#bubble-div {
    margin-top: 35px;
    margin-left: 35px;
    display: inline-block;
    float: left;
}

#message {
    display: inline-block;
    font-size: 4em;
    font-weight: bold;
    font-family: "Consolas", "Courier New", monospace;
    width: 400px;
    margin-left: 100px;
    margin-top: 100px;
    text-shadow: 0 0 8px rgba(255, 229, 44, 1)
}

p.bot {
    border: solid 1px gray;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.51);
    padding: 4px;
    margin-bottom: 3px;
    margin-top: 8px;
    width: 200px;
    font-family: "Consolas", "Courier New", monospace;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: black;
    color: lightgray;
}

.date {
    font-size: 0.8em;
    font-weight: normal;
}

p.bot.evaluating {
    background-color: #1c3828;
}

p.bot.evaluating.playing {
    background-color: #255c47;
}

@keyframes shadow-pulse
{
    0% {
        box-shadow: 0 0 0 0 rgba(255, 229, 44, 0.8);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

p.bot.evaluating.winner {
    background-color: #479f79;
    animation: shadow-pulse 0.6s infinite;
}
