[Locations]
# Path to loadout config from runner
looks_config = voodooAppearance.cfg

# Path to module from runner
python_file = voodoo.py

# Name that will be displayed in game
name = Voodtwo

[Bot Parameters]
java_executable_path = ../Voodoo/bin/Voodoo.bat

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = r0bbi3

# Short description of the bot
description = Entry for Spikeborne

# Fun fact about the bot
fun_fact = 

# Link to github repository
github = 

# Programming language
language = java